<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../public/assets/img/logoBebekNyambel.png" type="image/png">
    <link rel="stylesheet" href="../../public/assets/css/style-1.css">
    <title>{Dinamis}</title>
</head>

<body class="">
    <header class="merge">
        <div class="nav1 middle">
            <img src="../../public/assets/img/logoBebekNyambel.png" alt="Icon Not Found">
            <div>
                <h1>Bebek Nyambel</h1>
                <p>Enaknya Bikin Nagih...</p>
            </div>
        </div>
        <div class="nav2">
            <a href="../views/beranda.html" class="nav-btn">BERANDA</a>
            <a href="../views/menu.html" class="nav-btn">MENU</a>
            <a href="../views/promo.html" class="nav-btn">PROMO</a>
            <a href="../views/layanan.html" class="nav-btn">LAYANAN</a>
            <div class="dropdown">
                <span class="nav-btn dropdown-btn">LAINNYA</span>
                <div class="dropdown-content">
                    <a href="../views/tentang.html">Tentang Kami</a>
                    <a href="../views/prosedur.html">Prosedur</a>
                </div>
            </div>
            <a href="../views/keranjang.html" class="nav-icon-btn icon-nav2"></a>
            <div class="dropdown">
                <span class="nav-icon-btn icon-nav1 dropdown-btn"><span class=""></span></span>
                <div class="dropdown-content edit-dropdown">
                    <a href="../views/profile.html">Profile</a>
                    <a href="../views/riwayat.html">Riwayat Pesanan</a>
                    <a href="../../index.html">Keluar</a>
                </div>
            </div>

        </div>
    </header>
    <main class="beranda ">
        <div class="carosel">
            <h1>ini Carosel</h1>
        </div>

        <div class="rekomendasi">
            <h2>REKOMENDASI</h2>
            <div class="box-menu">
                
                <div class="card-menu ">
                    <div class="img-card-menu ">
                        <img src="../../public/assets/img/menu1.jpeg"alt="Img Menu {Dinamis} Not">
                        </div>
                    <h3 class="" >{Dinamis} Bebek Goreng Sambal</h3>
                    <h3 class="money ">{Dinamis}Rp.30.000,00</h3>
                    <a class="href-btn" href="../views/menu-detail.html">LIHAT SELENGKAPNYA</a>
                </div>
                <div class="card-menu ">
                    <div class="img-card-menu ">
                        <img src="../../public/assets/img/menu1.jpeg"alt="Img Menu {Dinamis} Not">
                        </div>
                    <h3 class="" >{Dinamis} Bebek Goreng Sambal</h3>
                    <h3 class="money ">{Dinamis}Rp.30.000,00</h3>
                    <a class="href-btn" href="../views/menu-detail.html">LIHAT SELENGKAPNYA</a>
                </div>
                <div class="card-menu ">
                    <div class="img-card-menu ">
                        <img src="../../public/assets/img/menu1.jpeg"alt="Img Menu {Dinamis} Not">
                        </div>
                    <h3 class="" >{Dinamis} Bebek Goreng Sambal</h3>
                    <h3 class="money ">{Dinamis}Rp.30.000,00</h3>
                    <a class="href-btn" href="../views/menu-detail.html">LIHAT SELENGKAPNYA</a>
                </div>


            </div>
        </div>
    </main>
    <footer>
        <div class="about ">
            <div class="description">
                <div class="about-content">
                    <h3>BEBEK NYAMBEL</h3>
                    <p>Menyediakan menu makanan Bebek dan Ayam beserta berbagai macam Sambal-sambal yang lezat </p>
                </div>
                <div class="about-content">
                    <h3>BUKA SETIAP HARI</h3>
                    <p>14:00 - 22:00 WIB</p>
                </div>
            </div>
            <div class="contact">
                <div class="about-content">
                    <h3>BEBEK NYAMBEL</h3>
                    <div class="about-content-icon">
                        <img src="../../public/assets/img/icon/phone.png" alt="">
                        <p>: 0878-7506-8577</p>
                    </div>
                    <div class="about-content-icon">
                        <img src="../../public/assets/img/icon/mail.png" alt="">
                        <p>: Bebek@nyambel.com</p>
                    </div>
                </div>
            </div>
            <div class="location">
                <div class="about-content">

                    <h3>KUNJUNGI KAMI DI :</h3>
                    <div>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.5204062365638!2d106.82037647499124!3d-6.326539393662987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ed8cc8ab57cb%3A0xb8e05a64951962af!2sRumah%20Pohon%20Jagakarsa!5e0!3m2!1sid!2sid!4v1697517706801!5m2!1sid!2sid"
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="about-content-icon">
                            <img src="../../public/assets/img/icon/location.png" alt="">
                            <p>Rt.13/Rw.5, Jagakarsa, Kec. Jagakarsa, Kota Jakarta Selatan, Daerah Khusus Ibukota
                                Jakarta
                                12610</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="icon-bn ">
                <img src="../../public/assets/img/logoBebekNyambel-green.png" alt="">

            </div>
        </div>
        <div class="Copyright">
            <p>Copyright © 2023 BebekNyambel. All Rights Reserved</p>
        </div>
    </footer>
    <script src="public/assets/js/js-1.js">

    </script>
</body>

</html>