<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | BebekNyambel</title>
    <link rel="stylesheet" href="../../public/assets/css/style-1.css">
</head>

<body>
    <header>
       <div class="nav test1">
            <img class="test1" src="../../public/assets/img/logoBebekNyambel.png" alt="">
            <h1>Bebek Nyambel</h1>
       </div>
       <div class="nav test3">
            <h1>dsad</h1>
       </div>
    </header>

    <main class="">


    </main>

    <footer>

    </footer>
    <script src="public/assets/js/js-1.js">

    </script>
</body>

</html>