<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../public/assets/img/logoBebekNyambel.png" type="image/png">
    <link rel="stylesheet" href="../../public/assets/css/style-1.css">
    <title>{Dinamis}</title>
</head>

<body>
    <header class="merge">
        <div class="nav1 middle">
            <img src="../../public/assets/img/logoBebekNyambel.png" alt="Icon Not Found">
            <div>
                <h1>Bebek Nyambel</h1>
                <p>Enaknya Bikin Nagih...</p>
            </div>
        </div>
        <div class="nav2">
            <a href="" class="nav-btn">BERANDA</a>
            <a href="" class="nav-btn">MENU</a>
            <a href="" class="nav-btn">PROMO</a>
            <a href="" class="nav-btn">LAYANAN</a>
            <div class="dropdown">
                <span class="nav-btn dropdown-btn">LAINNYA</span>
                <div class="dropdown-content">
                    <a href="#">Tentang Kami</a>
                    <a href="#">FAQ</a>
                </div>
            </div>
            <a href="../views/keranjang.html" class="nav-icon-btn icon-nav2"></a>
            <div class="dropdown">
                <span class="nav-icon-btn icon-nav1 dropdown-btn" ><span class=""></span></span>
                <div class="dropdown-content edit-dropdown">
                    <a href="#">Profile</a>
                    <a href="#">Riwayat Pesanan</a>
                    <a href="#">Keluar</a>
                </div>
            </div>

        </div>
    </header>

    <main class="">


    </main>

    <footer>

    </footer>
    <script src="public/assets/js/js-1.js">

    </script>
</body>

</html>