<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | BebekNyambel</title>
    <link rel="stylesheet" href="../../public/assets/css/test.css">
</head>

<body>
    <header>
        <div class="nav1 test1">
            <h1>Ini Kotak kiri</h1>
        </div>
        <div class="nav2 test2">
            <a href=""><div class="nav-btn">BERANDA</div></a>
            <a href=""><div class="nav-btn">PRODUK</div></a>
        </div>
    </header>

    <main class="">


    </main>

    <footer>

    </footer>
    <script src="public/assets/js/js-1.js">

    </script>
</body>

</html>