body{
    margin: 0;
    padding: 0;
    background-image: url('/public/assets/img/backgorund-login.png');
    background-size: cover; /* Memastikan gambar mencakup seluruh area */
    background-position: center;
    background-repeat:repeat;
    height: 100vh; /* Set tinggi sesuai kebutuhan */
    display: flex;
    justify-content: center;
    align-items: center;
}



.test1{
    border: 1px solid aqua;
}
.test3{
    border: 1px solid rgb(0, 255, 132);
}
.test2{
    border: 1px solid rgb(255, 0, 204);
}