/* Local Variabel */
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../public/assets/font/PlusJakartaSans-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --main-color: rgba(44, 69, 31);
    --dark-color:#252525;
    --nav-hover-color: rgba(176, 176, 176, 0.21);
    --main-font: 'Plus Jakarta Sans'
}

* {
    font-family: var(--main-font);
}


.merge{
    
    display: flex;
    justify-content: space-between;
}

.middle{
    display: flex;
    justify-content: flex-start ;
    align-items: center;    
}
body {
    margin: 0;
    padding: 0;
    min-height:100vh;
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 14px;
}
main{
    max-width: 100vw;
    min-height: 87vh;
}
/* Footer */
footer{
    max-width: 100vw;
    overflow: hidden;
    background-color: var(--dark-color);
    height: 250px;
    color: white;
    padding: 1vw 3vw;
    
}
footer .about{
    display: flex;
    justify-content: flex-start;
    
}
.about-content{
    width: 17vw;
    margin: 1vw 0;
}
.about-content h3,.about-content p{
    width: 17vw;
    margin: 0;
    padding: 0.2vw 0;
}
.about-content-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5vw;
}
.about-content-icon img{
    width: 1.3vw;
    height: 1.3vw;
    margin: 0 1vw;
}
.location{
    width: 40vw;
    
}
.location iframe{
    margin-right: 1vw;
}
.location .about-content div{
    display: flex;
    justify-content: flex-start;
    width: auto;
}

.about-content div .about-content-icon {
    display: block;
}
.about-content div .about-content-icon img{
    width: fit-content;
}
.icon-bn{
    width: auto;
    height: 200px;
}
.icon-bn img{
    opacity: 0.04;
    height: 210%;
    position: relative;
    top: -50%;
    right: -20%;
}

.Copyright{
    text-align: center;
    padding: 0.001145vw;
}

h1 {
    font-size: 1.9rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem
}

h3 {
    font-size: 1rem;
}

/* Header */
header{
    max-width: 100vw;
    height: 13vh;
    background-color: var(--main-color) ;
    padding: 0px 4%;
}
.nav1{
    width: 31%;
}
.nav1 img{
    height: 80%;
}
.nav1 div{
    text-align: center;
    margin: 0 0.69vw;
    color: white;
}
.nav1 div h1{
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}
.nav1 div h1,.nav1 div p{
    margin: 0;
}

.nav2{
    width: 61%;
    display: flex;
    justify-content: flex-end ;
    align-items: center;    
}

.nav-btn{
    display: flex;
    height: 13vh;
    width: 8vw;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.nav-icon-btn{
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 100%;
    padding: 0.8vw;
    margin: 0.5vw;
}
.nav-btn:hover,.nav-icon-btn:hover{
    background-color: var(--nav-hover-color);
}
.nav-btn:active,.nav-icon-btn:active{
    background-color: white;
    color: var(--main-color);
    font-weight: 700;

}
.dropdown {
    position: relative;
    display: inline-block;   
}

.dropdown-btn {
    cursor: pointer;
}

.edit-dropdown{
    left: -90px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
}

.dropdown-content a {
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--main-color);
    color: white;
    font-weight: 500;
}


/* Menampilkan dropdown ketika tombol dihover */
.dropdown:hover .dropdown-content {
    display: block;
}

.nav-icon-btn img{
    height: 2vw;
}
.icon-nav1{
    width: 2.5vw;
    height: 2.5vw;
    background-image: url('../img/icon/user-white.png');
    background-size: 2.2vw;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-nav1:active{
    background-image: url('../img/icon/user-main.png');
}
.icon-nav2{
    width: 2.5vw;
    height: 2.5vw;
    background-image: url('../img/icon/cart-white.png');
    background-size: 2vw;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-nav2:active{
    background-image: url('../img/icon/cart-main.png');
}



/* Login Page */
.login-pg-bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding: 0;
}

main.login-pg {
    background-color: rgba(44, 69, 31, 0.75);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}

.login-form {
    border: 2px solid white;
    padding: 35px 25px;
    border-radius: 42px;
    height: fit-content;
}

.head-login-form img {
    max-width: 60px;
    height: auto;
    vertical-align: middle;
}

.head-login-form h2 {
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
    display: inline-block;
    vertical-align: middle;
}

.body-login-form form {
    text-align: right;

}

.body-login-form form h2 {
    text-align: left;
    font-weight: 300;
    color: white;
}

.body-login-form form input[type="email"],
.body-login-form form input[type="password"] {
    box-shadow: none;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 333px;
    color: white;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 100;
}

.body-login-form form input::placeholder {
    color: white;
    font-size: 14px;
    font-weight: 100;
}

.body-login-form form input[type="submit"],.regist-btn {
    text-align: center;
    width: auto;
    background-color: white;
    color: #2C451F;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    padding: 5px 20px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 650;
}

.body-login-form form input[type="submit"]:hover,.regist-btn:hover:hover {
    background-color: #2C451F;
    color: white;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    padding: 5px 20px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.597)
}

.regist-href {
    background-color: rgba(255, 255, 255, 0.31);
    color: white;
    text-align: center;
    padding: 20px 5px;  
    border-radius: 30px;
    width: auto;
}
.regist-href .h3-1{
    font-weight: 500;
}

.regist-href .h3-2{
    font-weight: 100;
}

.regist-btn{
    text-align: center;
    text-decoration: none;
    width: auto;
    background-color: white;
    color: #2C451F;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    padding: 5px 20px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 650; 
            
        
}
/* main */


/* Beranda */







.test1 {
    border: 1px solid aqua;
}

.test3 {
    border: 1px solid rgb(0, 255, 132);
}

.test2 {
    border: 1px solid rgb(255, 0, 204);
}