.test1{
    border: 2px solid red;
}
.test2{
    border: 2px solid greenyellow;
}
body{
    
}

header{
    width: 100%;
    min-height: 12vh;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    
    
}


.nav1{
    width: 35%;
}
.nav2{
    width: 70%;
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    
}
.nav-btn{
    display: flex;
    height: 52px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
}
.nav-btn:hover{
    background-color: aqua;
}